@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Titillium+Web:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    border: none;
}

body {
    font-family: Lato, "sans-serif";
    font-weight: 300;
    color: #3f3d3d;
}


h1, h2 {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #292929;

}

#logo {
    text-align:center;
    font-size: 300%;
    color:white;
}

header {
    background: url('../images/logo_background.jpg') no-repeat center center;
    height: 150px;
   
}
header a {
    text-decoration:none;
    
    text-align: center;
    line-height:150px;

}
nav{
    background-color: chocolate;
}
#menu li {
    display:inline-block;
    width:33%;
    background-color: chocolate;
    height:75px;
    line-height:75px;
    text-align:center;
   
}

#menu a {
    text-decoration: none;
    color:white;
    font-size: 110%;

}

#one-winner-image {
    background: url('../images/one-winner.jpg') no-repeat center center;
    height: 300px;
    background-size: cover;
}

#victory-text {
    text-align: center;
    padding: 125px 0;
    color:white;
}

#pre-order{
    font-size: 75%;
}



